@import '~styles/variables';

.sky-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 100.1vh;
	overflow: hidden;
	z-index: 20;
	text-align: left;
	pointer-events: none;

	&.active {
		pointer-events: auto;
	}

	&.sky-overlay-enter,
	&.sky-overlay-leave {
		height: 100vh;

		.sky-wipe-inner {
			height: 100vh;
		}
	}
}

.sky-overlay-container {
	position: relative;
	top: 0;
	left: 0;
	min-height: 100.1vh;
	overflow: hidden;
	background-color: $color-gray-10;
}

.sky-overlay-close {
	position: absolute;
	z-index: 2;
}

.sky-overlay-close-button {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	border: 0;
	cursor: pointer;
	display: block;
	background-color: transparent;
	width: 100%;
	height: 100%;

	svg,
	path {
		transition: fill 0.2s;
	}

	&:focus {
		outline: none;
	}
}

.sky-overlay-content {
	z-index: 2;
}

.sky-overlay-toggle {
	display: flex;
	align-items: center;
	background: none;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}
