.page-wrap {
	width: 100%;

	&.sky-overlay-active {
		position: absolute;
		top: 0;
		left: 0;
		height: 100.1vh;
		width: 100vw;
		overflow: hidden;
	}
}

.page-wrap-content {
	width: 100%;

	.sky-overlay-active & {
		top: 0;
		left: 0;
		position: absolute;
	}
}
