.page-wrap {
	position: relative;
	width: 100vw;
	overflow: hidden;

	&.sky-overlay-active {
		position: absolute;
		top: 0;
		left: 0;
		height: 100.1vh;
	}
}

.page-wrap-content {
	position: relative;
	top: 0;
	left: 0;
	width: 100vw;

	.sky-overlay-active & {
		position: absolute;
	}
}
