<div
	:class="['sky-overlay', id, {
		active: active,
		'sky-overlay-enter': animating === 'enter',
		'sky-overlay-leave': animating === 'leave',
	}]"
	:style="overlayStyle"
	tabindex="-1"
>
	<transition
		name="sky-overlay-animate"
		@before-enter="beforeEnter"
		@after-enter="afterEnter"
		@before-leave="beforeLeave"
		@after-leave="afterLeave"
	>
		<div
			v-if="active"
			class="sky-overlay-container"
			:style="overlayContentStyle"
		>
			<div class="sky-overlay-content-wrap">
				<div class="sky-overlay-content">
					<div
						v-if="closeButton"
						class="sky-overlay-close"
					>
						<button
							class="sky-overlay-close-button"
							@click="toggle"
						>
							<slot
								name="close"
							>
								x
							</slot>
						</button>
					</div>
					<slot />
				</div>
			</div>
		</div>
	</transition>
</div>
