.sky-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 100.1vh;
	overflow: hidden;
	z-index: 20;
	pointer-events: none;

	&.active {
		pointer-events: auto;
	}

	&.sky-overlay-enter,
	&.sky-overlay-leave {
		height: 100vh;

		.sky-wipe-inner {
			height: 100vh;
		}
	}
}

.sky-overlay-container {
	position: relative;
	top: 0;
	left: 0;
	min-height: 100.1vh;
	overflow: hidden;
	background-color: #fff;
}

.sky-overlay-close {
	z-index: 2;
}

.sky-overlay-content {
	z-index: 2;
}
